/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* IRC client inspired styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/** {
  border: 1px solid red !important;
}*/

body {
  background-color: black;
  color: white;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font: 300 16px/22px 'IBM Plex Mono', monospace;
  line-height: 22px;
}

textarea {
  width: 95%;
  background-color: black;
  color: white;
  caret-color: #39ff14;
  height: 19px;
}

h1 {
  padding: 10px;
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.main-grid {
  margin: 0;
  width: 70%;
  display: inline-block;
  overflow-y: scroll;
  height:720px;
}

.side-grid {
  margin: 0;
  width: 25%;
  display: inline-block;
  overflow-y: scroll;
  height:720px;
}

/* column for list of users */
.col-userlist {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  color: white;
}

/* column for tweets */
.col-tweets {
  width: 70%;
  display: inline-block;
  border-left: 1px solid;
}

/* wrapper column for usernames/timestamps */
.col-userinfo {
  width: 28%;
  display: inline-block;
  vertical-align: top;
}

/* column for timestamps */
.col-timestamps {
  text-align: right;
  width: 35%;
  display: inline-block;
  vertical-align: top;
  color: White;
}

/* column for usernames */
.col-usernames {
  text-align: left;
  width: 60%;
  display: inline-block;
  vertical-align: bottom;
}

.tweet {
  display: block;
  text-align: left;
  padding-left: 5px;
}

.highlight {
  color: #00E500;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}