/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* IRC client inspired styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  border: 1px solid red !important;
}

/*body {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}*/

h1 {
  font-weight: bold;
  font-size: x-large;
}

.grid {
  margin: 0 auto;
  width: 960px;
  overflow-y: scroll;
  height:480px;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}

/* column for list of users */
.col-userlist {
  /*margin-left: 75%;*/
  width: 25%;
  display: inline-block;
}

/* column for tweets */
.col-tweets {
  width: 49%;
  display: inline-block;
}

/* column for usernames/timestamps */
.col-usernames-timestamps {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

/* column for timestamps */
.col-timestamps {
  text-align: right;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

/* column for usernames */
.col-usernames {
  text-align: left;
  /*margin-left: 50%;*/
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

/* container for each tweet */

.tweet-container {
  /*margin-left: 20%;
  margin-right: 20%;*/
  display: inline-block;
  width: 60%;
  /*border: 2px solid #949599;*/
  border-radius: 2px;
  text-align: left;
}

.tweet-container:hover {
color: rgba(0, 0, 0, .5);
}

.username {
  padding-right: 0;
}

textarea {
  resize: none;
}